@import 'poole';
@import 'hyde';

.evs-green {
  .sidebar {
    background-color: #4FB34F;
  }
  .content a, .related-posts li a:hover {
    color: #4FB34F;
  }
}

.avatar {
  display: block;
  margin: 2em;
  border-width: 0.2em;
  border-color: rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-radius: 1em;
  box-shadow: 0px 0px 0.2em 0 #000;
  position: relative;
  left: 36px;
  width: 5.875em;
  height: 5.875em;
}

* { margin: 0; }
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* entypo */
[class*="entypo-"] {
  &:before {
    font-family: 'entypo', sans-serif;
    font-size: 24px;
    padding: 8px;

//    &:hover {
//      text-decoration: none;
//    }
  }
}

.fartsy-header {
  height: 4em;

  .air {
    height: 4em;
    background: transparent linear-gradient(to right, rgba(241, 248, 233, 0) 50%, rgba(241, 248, 233, 0.95) 95%) repeat scroll 0% 0%;
  }
}

@import 'landing';

.post .relative-posts {
  text-align: center;
}

.post .taglist {
  float: right;
}
.taglist .tag::before {
  content: '#';
  color: #9A9A9A;
}
