<% wrap_layout :default do %>

  <%= partial "layouts/sidebar" %>
  
  <!-- Geopattern header! Fancy! 🎩 -->
  <div class="fartsy-header" style="background-image: <%= geopattern(current_page.path) %>">
    <div class='air'></div>
  </div>

  <div role="main" class="content container">
    <% if current_article %>
      <%= partial "layouts/article", locals: {article: current_article} %>

      <!-- and missing comments :-( -->
    <% else %>
      <%= yield %>
    <% end %>
  </div>

<% end %>
