---
layout: blog_post
title: "Archive"
---

<% page_articles.each do |article| %>
  <article class='archive-article'>
    <header>
      <h3><%= link_to article.title, article %></h3>
      <p class='blog-stamp'>
        <time datetime='<%= article.date %>'><%= article.date.strftime('%b %e, %Y') %></time>
      </p>
    </header>
  </article>
<% end %>
