---
layout: default
---

<% content_for :head do %>
  <!-- OpenID delegation, using MyOpenID -->
  <link rel="openid.server" href="https://www.myopenid.com/server" />
  <link rel="openid.delegate" href="https://evaryont.myopenid.com/" />
  <link rel="openid2.local_id" href="https://evaryont.myopenid.com" />
  <link rel="openid2.provider" href="https://www.myopenid.com/server" />
  <meta http-equiv="X-XRDS-Location" content="https://evaryont.myopenid.com/xrds" />
<% end %>

<img class='avatar' alt='My avatar' title='My avatar' src="https://secure.gravatar.com/avatar/efb9a1ec42adeec9615f062e55bf5c3e?size=256" />
<ul class='nav'>
  <li><a href="https://github.com/evaryont" rel='me'><i class="fa fa-fw fa-lg fa-github"></i>Github</a></li>
  <li><a href="/blog.html" rel='me'><i class="fa fa-fw fa-lg fa-book"></i>Blog</a></li>
  <li><a href="https://twitter.com/evaryont" rel='me'><i class="fa fa-fw fa-lg fa-twitter"></i>Twitter</a></li>
  <li><a href="http://evsdoesstuff.tumblr.com/"><i class="fa fa-fw fa-lg fa-tumblr"></i>Tumblr</a></li>
  <li><a href="/about.html"><i class="fa fa-fw fa-lg fa-info-circle"></i>About</a></li>
</ul>

<!--
      <% data.elsewhere.sites.each do |site| %>
      <li class="sidebar-nav-item">
        <a class='<%= site.icon %>' href="<%= site.url %>"><%= site.name %></a>
      </li>
      <% end %>
-->
